<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>Sistema de Gestión de Pedidos</title>
</head>

<body>
    <header class="navbar">
        <a class="logo" th:href="@{/}">Gestión de Pedidos</a>

        <nav class="nav-links" aria-label="Navegación principal">
            <a class="btn btn-secondary" th:href="@{/login}">
                Iniciar sesión
            </a>
        </nav>
    </header>

    <main class="main-container">
        <section class="hero">
            <h1>Tus pedidos, en orden.</h1>

            <p>
                Menos desorden, más tiempo para tu emprendimiento.
                Organiza en un solo lugar los pedidos que recibes por redes sociales.
                
            </p>

            <div class="hero-actions">
                <a class="btn btn-primary" th:href="@{/registro}">
                    Crear cuenta
                </a>

                <a class="btn btn-secondary" th:href="@{/login}">
                    Ya tengo una cuenta
                </a>
            </div>

            <footer class="footer-info">
                <p>Universidad del Valle de Guatemala</p>
                <small>Proyecto de Programación Orientada a Objetos · Grupo 12</small>
            </footer>
        </section>
    </main>
</body>

</html>