<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestión de Pedidos</title>
</head>

<body>

    <h1>Sistema de Gestión de Pedidos</h1>

    <p>
        Organiza los pedidos de tu emprendimiento recibidos mediante
        WhatsApp y otras redes sociales.
    </p>

    <hr>

    <a th:href="@{/login}">
        Iniciar sesión
    </a>

    <br><br>

    <a th:href="@{/registro}">
        Crear cuenta
    </a>

    <hr>

    <h3>Proyecto Programación Orientada a Objetos</h3>

    <p>
        Universidad del Valle de Guatemala
    </p>

</body>

</html>